@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(../fonts/Spotify-Font/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: local('Gotham-Thin'), url(../fonts/Spotify-Font/Gotham-Thin.otf) format('opentype');
}

.text-bold {
  font-family: Gotham-Bold;
  font-size: 1.5rem;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.artist-name {
  font-family: Gotham-Bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(197, 207, 216);
  padding-left: 25px;
}

.list-name {
  font-family: Gotham-Bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(197, 207, 216);
  margin-top: 1rem;
}

.artist-list-content {
  display: flex;
  flex-direction: column;
}

#artists-header {
  display: flex;
  justify-content: center;
  color: rgb(197, 207, 216);
  font-size: 2.5em;
  margin-left: 0.3em;
}
  
.artist-card {
  background-color: rgb(40, 12, 38);
  width: 47%;
  border-radius: 10px;
  margin:10px;
  align-items: center;
  padding-left: 15px;
}

.artists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-header {
  font-family: Gotham-Bold;
}

.artists-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px dotted white;
}