@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(./fonts/Spotify-Font/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: local('Gotham-Thin'), url(./fonts/Spotify-Font/Gotham-Thin.otf) format('opentype');
}

.text-bold {
  font-family: Gotham-Bold;
  font-size: 1.5rem;
}

.text-thin {
  font-family: Gotham-Thin;
  font-size: 1.5rem;
}

.App {
  background-color: rgb(58, 27, 71);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* //// header css //// */
.header-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-img {
  object-fit:cover;
  width: 100vw;
  height: 40vh;
  opacity: 30%;
  margin: auto;
  filter: blur(2px);
}

.header-txt {
  color: rgb(197, 207, 216);
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotating-word {
  display: inline-block;
  animation: fadeMove 3s ease-in-out infinite;
}

@keyframes fadeMove {
  0% {
    opacity: 0;
    /* transform: translateY(-10px); */
  }
  50% {
    opacity: 1;
    /* transform: translateY(-20px);  */
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.lrg  {
  font-size: 24px;
}

.med  {
  font-size: 15px;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 4em;
}

.brand.navbar-brand {
  font-size: 2em;
}

.home {
  font-size: 1.5em;
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.user {
  font-size: 1.5em;
}

.nav-container {
  display: flex;
  /* justify-items: ; */
  align-items: baseline;
  width: 100vw;
  align-self: baseline;
  max-width: 100vw;
}


.me-auto {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/* #query {
  width: 20vw;
  border-style: hidden;
  background-color: rgb(66, 47, 66);
  border-radius: 7px;
  color: white;
  height: 2em;
} */

.disco {
  display: flex;
}

#search {
  background-color: rgb(128, 109, 128);
  border-radius: 7px;
  color: white;
  border-style: hidden;
  height: 2em;
  width: 5em;
  text-transform: uppercase;
}

.filter-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.filter-items {
  display: flex;
  flex-direction: column;
}

.white {
  color: white;
}

/* Artist Card CSS */

.artist-card {
  display: flex;
}

.artist-name {

}

/* Search Bar CSS */
.search-label {
  margin-bottom: 0.5rem; /* mb-2 */
  font-size: 0.875rem; /* text-sm */
  font-weight: medium; /* font-medium */
  color: #1a202c; /* text-gray-900 */
  display: none; /* sr-only */
}

.search-container {
  position: relative;
}

.search-icon-container {
  position: absolute;
  inset: 0;
  start: 0;
  display: flex;
  align-items: center;
  padding-left: 0.75rem; 
  pointer-events: none;
}

.search-icon {
  width: 1rem; /* w-4 */
  height: 1rem; /* h-4 */
  color: #6b7280; /* text-gray-500 */
}

.search-input {
  display: block;
  width: 100%;
  padding: 1rem 2.5rem 1rem 2.5rem; /* p-4 ps-10 */
  font-size: 0.875rem; /* text-sm */
  color: #1a202c; /* text-gray-900 */
  border: 1px solid #d1d5db; /* border border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #f9fafb; /* bg-gray-50 */
  /* Add focus styles as needed */
}

/* UNUSED */
.search-button {
  position: absolute;
  end: 0.625rem; /* end-2.5 */
  bottom: 0.625rem; /* bottom-2.5 */
  background-color: #1d4ed8; /* bg-blue-700 */
  color: white;
  font-weight: medium;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem; /* px-4 py-2 */
}