@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(./fonts/Spotify-Font/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: local('Gotham-Thin'), url(./fonts/Spotify-Font/Gotham-Thin.otf) format('opentype');
}

.text-bold {
  font-family: Gotham-Bold;
  font-size: 1.5rem;
}
.text-thin {
  font-family: Gotham-Thin;
  /* font-size: 1.5rem; */
}

.App {
  background-color: rgb(58, 27, 71);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* //// header css //// */
.header-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-img {
  object-fit: cover;
  width: 100vw;
  height: 90vh;
  opacity: 30%;
  margin: auto;
  filter: blur(2px);
}

.header-txt {
  color: rgb(197, 207, 216);
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotating-word {
  display: inline-block;
  animation: fadeMove 3s ease-in-out infinite;
}

@keyframes fadeMove {
  0% {
    opacity: 0;
    /* transform: translateY(-10px); */
  }

  50% {
    opacity: 1;
    /* transform: translateY(-20px);  */
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.header-title {
  font-size: 5rem;
}

.med {
  font-size: 15px;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 4em;
}

.brand.navbar-brand {
  font-size: 2em;
}

.home {
  font-size: 1.5em;
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.user {
  font-size: 1.5em;
}

.nav-container {
  display: flex;
  /* justify-items: ; */
  align-items: baseline;
  width: 100vw;
  align-self: baseline;
  max-width: 100vw;
}


.me-auto {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/* #query {
  width: 20vw;
  border-style: hidden;
  background-color: rgb(66, 47, 66);
  border-radius: 7px;
  color: white;
  height: 2em;
} */

.disco {
  display: flex;
}

#search {
  background-color: rgb(128, 109, 128);
  border-radius: 7px;
  color: white;
  border-style: hidden;
  height: 2em;
  width: 5em;
  text-transform: uppercase;
}

.white {
  color: white;
}

/* Artist Card CSS */

.artist-card {
  display: flex;
}

.artist-name {}

/* Search Bar CSS */
.search-label {
  margin-bottom: 0.5rem;
  /* mb-2 */
  font-size: 0.875rem;
  /* text-sm */
  font-weight: medium;
  /* font-medium */
  color: #1a202c;
  /* text-gray-900 */
  display: none;
  /* sr-only */
}

.search-container {
  position: relative;
}

.search-icon-container {
  position: absolute;
  inset: 0;
  start: 0;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  pointer-events: none;
}

.search-icon {
  width: 1rem;
  /* w-4 */
  height: 1rem;
  /* h-4 */
  color: #6b7280;
  /* text-gray-500 */
}

.search-input {
  display: block;
  width: 100%;
  padding: 1rem 2.5rem 1rem 2.5rem;
  /* p-4 ps-10 */
  font-size: 0.875rem;
  /* text-sm */
  color: #1a202c;
  /* text-gray-900 */
  border: 1px solid #d1d5db;
  /* border border-gray-300 */
  border-radius: 0.5rem;
  /* rounded-lg */
  background-color: #f9fafb;
  /* bg-gray-50 */
  /* Add focus styles as needed */
}

/* UNUSED */
.search-button {
  position: absolute;
  end: 0.625rem;
  /* end-2.5 */
  bottom: 0.625rem;
  /* bottom-2.5 */
  background-color: #1d4ed8;
  /* bg-blue-700 */
  color: white;
  font-weight: medium;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
}

/* .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  } */


.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(67, 4, 67, 0.846);
  height: 75px;
  width: 100%;
}

.logo-name {
  display: flex;
  flex-direction: row;
  height: inherit;
  padding-left: 15px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  height: inherit;
  list-style: none;
  /* text-align: center; */
  margin-left: 0;
  /* width: 60vw; */
  justify-content: end;
  /* margin-right: 2rem; */
  /* width: 100%; */
}

/* .nav-title {
    justify-content: start;
    display: flex;
    flex-direction: row;
  
    display: flex;
    align-items: center;
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
  
    /* padding:0 0.5rem 0 0.5rem; */

.navbar-logo {
  display: grid;
  border: 2px dotted red;
  color: #fef5ac;
  display: flex;
  flex-direction: row;
}

.nav-items {
  height: 30px;
}

/* .nav-log {
    text-decoration: none;
    color: #eae3d2;
    background-color: blue;
  }
  */
.nav-links {
  color: #eae3d2;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0.8rem 0 0.8rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.name {
  font-weight: bold;
  font-size: 2rem;
  font-family: Gotham-Bold;
}

/* .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  } */

/* @media screen and (max-width: 960px) {
      .NavbarItems {
        position: relative;
      }
    
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    
      .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }
    
      .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
      }
    
      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
      }
    
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .fa-times {
        color: #fff;
        font-size: 2rem;
      }
    
      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }
    
      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }
    } */