@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(./fonts/Spotify-Font/Gotham-Bold.otf) format('opentype');
}

.text {
  font-family: Gotham-Bold;
  font-size: 1.5rem;
}
.App {
  text-align: center;
  background-color: rgb(58, 27, 71);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: (35, 39, 47);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(119, 152, 179);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-banner {
  width: 100vw;
  opacity: 50%;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.greeting {
  color: rgb(197, 207, 216);
  width: 90%;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 4em;
}

.brand.navbar-brand {
  font-size: 2em;
}

.home {
  font-size: 1.5em;
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.user {
  font-size: 1.5em;
}

.nav-container {
  display: flex;
  /* justify-items: ; */
  align-items: baseline;
  width: 100vw;
  align-self: baseline;
  max-width: 100vw;
}


.me-auto {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

#query {
  width: 20vw;
  border-style: hidden;
  background-color: rgb(66, 47, 66);
  border-radius: 7px;
  color: white;
  height: 2em;
}

.disco {
  display: flex;
}

#search {
  background-color: rgb(128, 109, 128);
  border-radius: 7px;
  color: white;
  border-style: hidden;
  height: 2em;
  width: 5em;
  text-transform: uppercase;
}