.event-info {
  display: flex;
  align-self: center;
  width: 100%;
  margin-top: 2em;
}

.event_header_name {
  font-size: 4em;
}

.event_header_date {
  font-size: 3em;
}

.artist-info {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
}

.event-header {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1.5em;
  color: rgb(228, 231, 234);
  text-shadow: 0 1px 0 rgb(22, 19, 19),
    0 3px 0 rgb(22, 19, 19),
    0 4px 0 rgb(22, 19, 19),
    0 5px 0 rgb(22, 19, 19),
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.artist-name {
  font-size: 3em;
  margin-bottom: 1.5em;
  color: rgb(197, 207, 216);
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgb(22, 19, 19),
    0 3px 0 rgb(22, 19, 19),
    0 4px 0 rgb(22, 19, 19),
    0 5px 0 rgb(22, 19, 19),
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.list-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(197, 207, 216);
  margin-top: 1rem;
  text-shadow: 0 1px 0 rgb(22, 19, 19),
    0 2px 0 rgb(22, 19, 19),
    0 2px 0 rgb(22, 19, 19),
    0 2px 0 rgb(22, 19, 19),
    0 2px 2px rgba(0, 0, 0, .1),
    0 0 2px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 1px 1px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .25),
    0 5px 5px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .15);
}

.list-name:hover {
  text-shadow: 0 1px 0 rgb(22, 19, 19),
    0 4px 0 rgb(22, 19, 19),
    0 5px 0 rgb(22, 19, 19),
    0 6px 0 rgb(22, 19, 19),
    0 7px 5px rgba(0, 0, 0, .1),
    0 0 6px rgba(0, 0, 0, .1),
    0 3px 5px rgba(0, 0, 0, .3),
    0 7px 6px rgba(0, 0, 0, .2),
    0 7px 11px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.artist-card.card {
  margin-left: 1rem;
  border-width: thick;
  border-radius: 5px;
  border-color: rgb(95, 119, 138);
}

.artist-list.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #352738;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}