.event-info {
  display: flex;
  justify-content: space-between;
}

.artist-info {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: flex-start;
}

.artist-name {
  height: fit-content;
}