
.border {
  border: 3px solid white;
}

.body {
  background-color: #320d3ba0;
  min-height: 100vw;
}

.events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Event Card CSS */
.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  min-width: 70vw;
  max-width: 90vw;
  min-height: 100px;
  max-height: 100px;
  margin: 12px;
  transition: margin 1s ease-in-out;
  background-color: rgba(93, 7, 93, 0.515);
}

.event-card-link {
  text-decoration: none;
  color: inherit;
}

.event-card:hover {
 background-color: rgba(93, 7, 93, 0.515);
}

.event-card:hover .event-info {
  background-color: rgba(86, 3, 103, 0.515);
 }

.event-details{
  display:flex;
  max-height: 100px;
}

.event-image {
  margin-left: 0;
  width: 100%;
  max-width: 150px;
  height: inherit;
  object-fit: cover;

}

.event-info {
  /* padding: 16px; */
  min-width: 43vw;
  max-width: 43vw;
  min-height: 150px;
  padding: 10px;
  background-color: rgb(86, 3, 103);
}

.event-info-box {
  margin-top: 5px;
}

.event-name {
  font-size: 1.2em;
  color: rgb(197, 207, 216);
  transition: margin 1s ease-in-out;
}


.event-location {
  margin: 0;
  color: #ffffff;
  font-size: 0.6em;
}

.event-date {
  /* margin-right: 0 */
  /* display: grid; */
  /* flex-direction: column; */
  height: 100%;
  text-align: center;
  background-color: purple;
  padding: 5px;
}

.event-text {
  font-size: 1em;
}

.event-artists {
  padding-left: 10px; 
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 7px;
}