/* .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  } */


  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(67, 4, 67, 0.846);
    height: 75px;
    width: 100%;
  }
  
  .logo-name {
    display: flex;
    flex-direction: row;
    height:inherit;
    padding-left: 15px;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    height:inherit;
    list-style: none;
    /* text-align: center; */
    margin-left:0;
    /* width: 60vw; */
    justify-content: end;
    /* margin-right: 2rem; */
    /* width: 100%; */
  }
  
  /* .nav-title {
    justify-content: start;
    display: flex;
    flex-direction: row;
  
    display: flex;
    align-items: center;
    text-decoration: none;
    align-items: center;
    padding-left: 5px;
  
    /* padding:0 0.5rem 0 0.5rem; */
  
  .navbar-logo {
    display: grid;
    border: 2px dotted red;
    color: #fef5ac;
    display: flex;
    flex-direction: row;
  } 
  
  .nav-items {
    height: 30px;
  }
  
  /* .nav-log {
    text-decoration: none;
    color: #eae3d2;
    background-color: blue;
  }
  */
  .nav-links {
    color: #eae3d2;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 0.8rem 0 0.8rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .name  {
      font-weight: bold;
      font-size: 2rem;
      font-family: Gotham-Bold;
  }
  
  /* .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  } */
  
  /* @media screen and (max-width: 960px) {
      .NavbarItems {
        position: relative;
      }
    
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    
      .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }
    
      .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
      }
    
      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
      }
    
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .fa-times {
        color: #fff;
        font-size: 2rem;
      }
    
      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }
    
      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }
    } */
  